---
layout: default
---

<link rel="stylesheet" href="./green-screen.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script type="text/javascript" src="https://amyfare.ca/highlightjs-jcl/jcl.min.js"></script>
<script type="text/javascript" src="https://amyfare.ca/highlightjs-jcl/gen.js"></script>
<script type="text/javascript">
  hljs.highlightAll();
</script>
<article role="article">
  <!--<h1>{{ page.title }}</h1>-->
  {{ content }}
</article>
